.carousel-icon{
    background-color: #000;
    border-radius: 5px;
}

.carousel-img{
    height: 300px;
}


@media screen and (max-width:767px){
    .carousel-img{
        height: 200px;
    }
}

@media screen and (max-width:400px){
    .carousel-img{
        height: 160px;
    }
}