.cart-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 300px;
    margin: 10px;
    padding: 8px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
    border-radius: 5px;

    .cart-img{
        width: 50%;
        height: 60%;
        border-radius: 5px;
    }

    .cart-info-c{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        width: 50%;
        height: 100%;
        .cart-title{
            text-align: center;
            font-size: 1rem;
            width: 100%;
        }
        .cart-price{
            text-align: center;
            font-size: 1.4rem;
        }
        .cart-btn-c{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            
        }
        .cart-btn-quantity{

            .btn-quantity{
                width: 25px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .cart-quantity{
                text-align: center;
                width: 40px;
                border: 1px solid #000;
                border-radius: 5px;
                margin-right: 5px;
            }
    
        }

    }
}

@media screen and (min-width:768px) and (max-width:992px){

      .cart-item{

            .cart-info-c{
                .cart-title{
                    font-size: 0.8rem;
                }
                .cart-price{
                    font-size: 1.2rem;
                }

                .cart-btn-c{
                    flex-direction: column;
                    align-items: center;

                    .cart-btn-quantity{
                        margin-bottom: 10px;
                    }
                    .remove-btn{
                        font-size: 0.8rem;
                    }
                }
            }

}

}

@media screen and (max-width:767px){
    .cart-item{
        width: 80%;
        min-height: 200px;

        .cart-img{
            width: 30%;
            height: 35%;
            border-radius: 5px;
        }
        .cart-info-c{
            .cart-title{
                font-size: 0.8rem;
                overflow: auto;
            }
            .cart-price{
                font-size: 1.2rem;
            }
            .cart-btn-c{
                flex-direction: row;
                align-items: center;

                .cart-btn-quantity{
                    margin-bottom: 10px;
                }
                .remove-btn{
                    font-size: 0.8rem;
                }
            }
        }
}
}

@media screen and (max-width:576px){
    .cart-item{
        width: 95%;
        min-height: 220px;

        .cart-img{
            width: 30%;
            height: 35%;
            border-radius: 5px;
        }
        .cart-info-c{
            .cart-title{
                font-size: 0.8rem;
                overflow: auto;
            }
            .cart-price{
                font-size: 1.2rem;
            }
            .cart-btn-c{
                flex-direction: column;
                align-items: center;

                .cart-btn-quantity{
                    margin-bottom: 10px;
                }
                .remove-btn{
                    font-size: 0.8rem;
                }
            }
        }
} 
}