.cart-container-box{
    background-color: var(--color-white);
    height: 80vh;
    margin-top: 10px;
    border-radius: 5px;

    .cart-container{
        height: 100%;
        
        .cart-items{
            display: flex;
            overflow-y: auto;
            align-items: center;
            flex-direction: column;
            height: 100%;
            border-right: 5px solid var(--bg-color);
        }

        .cart-info{
            padding: 20px;
            height: 100%;
            overflow-y:auto;

            p{
                text-align: center;
                font-size: 1rem;
            }
            .total-c{
                margin-top: 50px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
                border-radius: 5px;
            }
            
            
        }
    }
}

@media screen and (max-width:767px){
    .cart-container-box{
        .cart-container{
            .cart-items{
                border: none;
                height: 50%;
                border-bottom: 5px solid var(--bg-color);
            }

            .cart-info{
                height: 50%;
            }
        }


    }
}