.cart-container-box{
    background-color: #fff;
    height: 80vh;
    margin-top: 10px;
    border-radius: 5px;

    .cart-container{
        height: 100%;
        
        .cart-items{
            display: flex;
            overflow-y: auto;
            align-items: center;
            flex-direction: column;
            height: 100%;
            border-right: 5px solid #b8b8b8;
        }

        .cart-info{
            padding: 20px;
            height: 100%;
            overflow-y:auto;
            scroll-snap-align: end;


            p{
                text-align: center;
                font-size: 1rem;
            }
            .total-c{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            
        }
    }
}

@media screen and (max-width:768px){
    .cart-container-box{
        .cart-container{
            .cart-items{
                border: none;
                height: 50%;
                border-bottom: 5px solid #b8b8b8;
            }

            .cart-info{
                height: 50%;
            }
        }


    }
}