footer{
    width: 100%;
    
    padding-bottom: 90px;
    background-color: var(--color-white);
    color: #000;

    p {
        text-align: center;
    }
    div{
        width: 100%;
        text-align: center;
        font-size: 25px;

        i{
            margin-right: 15px;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        i:hover{
            color: var(--bg-color);
        }
    }
}