.item-modal-c{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 10;
    animation: fade-modal 0.3s ease-in;
    .item-modal{
        width: 80%;
        height: 70%;
        background-color: var(--color-white);

        .item-modal-column{
            position: relative;
            height: 100%;
            

            img{
                width: 50%;
                height: 50%;
                border-radius: 5px;
                mix-blend-mode: multiply;
            }

            i{
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 10px;
                font-size: 30px;
                color: #000;
                cursor: pointer;
            }
            i:hover{
                color: var(--bg-color);
            }
            .item-modal-x-1{
                display: none;
            }
            .item-modal-info{
                height: 80%;
                width: 100%;
                overflow: auto;
                
                .item-modal-title{
                    text-align: center;
                    font-size: 2rem;
                }
                .item-modal-description{
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
        }
    }
    .item-modal-column:first-child{
        border-right: 2px solid var(--bg-color);
    }

}

@media screen and (min-width: 767px) and (max-width:1023px){
    .item-modal-c{
        .item-modal{
            width: 90%;
            .item-modal-column{
                
                .item-modal-info{
                    
                    .item-modal-title{
                        font-size: 1.4rem;
                    }
                    .item-modal-description{
                        font-size: 1rem;
                    }
            }
        }
    }
}

}

@media screen and (max-width:767px){
    .item-modal-c{
        .item-modal{
            height: 90%;
            width: 80%;
            margin-bottom: 70px;
            .item-modal-column{
                height: 50%;
                .item-modal-info{
                    
                    .item-modal-title{
                        font-size: 1.4rem;
                    }
                    .item-modal-description{
                        font-size: 1rem;
                    }
            }
            .item-modal-x-1{
                display: block;
            }
            .item-modal-x-2{
                display: none;
            }
        }
    }
    .item-modal-column:first-child{
        border: none;
        border-bottom: 2px solid var(--bg-color);
    }
}
}

@media screen and (max-width:500px){
    .item-modal-c{
        .item-modal{
            width: 90%;
        }
    }
}