header{
    width: 100%;
    height: 70px;
    background-color: var(--color-white);
    z-index: 10;

    nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        

        .nav-title{
            text-decoration: none;
            text-align: center;
            align-self: center;
            cursor: pointer;
            flex:1;
            user-select: none;
            img{
                height: 65px;
            }
        }
        ul{
            display: flex;
            flex: 2;
            list-style: none;
            height: 100%;
            margin-right: 50px;
           
            
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                text-align: center;
                color: #000;
                height: 100%;
                flex: 1;
                
                user-select: none;
                div{
                    height: 3px;
                    width: 0;
                    background-color: var(--bg-color);
                    transition: all 0.2s linear;
                }

            }
            a:hover{
                color: var(--bg-color);
                cursor: pointer;
            }
            a:hover div{
                width: 100%;
            }
        }
        .cart-box{
            flex: 1;
            display: flex;
            justify-content: center;
            i{
                position: relative;
                text-align: center;
                align-self: center;
                font-size: 3rem;
                cursor: pointer;
                width: 80px;
        
                .cart-counter{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 35.5%;
                    left: 40%;
                    width: 18px;
                    height: 18px;
                    background-color: var(--bg-color);
                    color: var(--color-white);
                    border-radius: 50%;
                    font-size: 12px;
                }
        }
            i:hover{
                color: var(--bg-color);
            }
            i:hover .cart-counter{
                background-color: #000;
                color: var(--bg-color);
            }
            .burger{
                display: none;
            }
        }
    }

    .burger-list{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
        width: 100%;
        list-style: none;
        margin-top: 70px;
        background-color: var(--color-white);
        
        a{
            text-decoration: none;
        }

        p{
            color: #000;
            padding: 10px;
        }
        p:hover{
            background-color: var(--bg-color);
            cursor: pointer;
        }
    }
}
.nav-animation{
    position: fixed;
    top: 0;
    left: 0;
    animation: nav-animation 0.4s linear;
}

@keyframes nav-animation {
    from{
        transform: translateY(-70px);
    }
    to{
        transform: translateY(0);
    }
}
@media screen and (min-width:1070px){
    .burger-list{
        display: none;
    }
}

@media screen and (max-width:1070px){
    .nav-list{
        display: none;
    }
    header{
        nav{
            
            .cart-box{
                justify-content: flex-end;
                .burger{
                    display: block;
                }
            }
            i{
                margin-right: 20px;
            }

        }
    }
    
    

}

@media screen and (max-width:400px){
    header{
        nav{
            .nav-title{
                img{
                    width: 80%;
                }
            }
        }

        }
}
