.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fff;
}
.product-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;

        i {
            font-size: 40px;
            color: #fff;
            align-self: flex-end;
            cursor: pointer;
        }
        i:hover{
            color: #b8b8b8;
        }
    }
}


.fade-modal{
    animation: fade-modal 0.3s ease-in;
}

@keyframes fade-modal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}